h1, h2 {
  text-align: center;
}

.mat-column-name, .mat-column-license, .mat-column-actions {
  flex: 0 0 10%;
}

.repo-actions {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.container > * {
  width: 90%;
  margin: auto;
}
