@import '~@angular/material/theming';

@include mat-core();

$ngapimock-app-primary: mat-palette($mat-green);
$ngapimock-app-secondary: mat-palette($mat-grey);
$ngapimock-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$ngapimock-app-warn:    mat-palette($mat-red);
$ngapimock-app-theme: mat-light-theme($ngapimock-app-primary, $ngapimock-app-accent, $ngapimock-app-warn);

@include angular-material-theme($ngapimock-app-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
